* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Source Sans Pro, sans-serif
}

.navbar {
  height: 5em;
  width: 100%;
  background: #545B6C;
  color: white;
  text-align: left;
  letter-spacing: 4px;
  display: flex;
}

.navbar h1 {
  padding: 5px 25px;
  font-size: 50px;
  font-weight: bold;
}

.bullet-points {
  display: flex;
  width: 80%;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 25px;
}

.bullet-points li {
  display: inline-block;
  padding: 8px
}

.bullet-points a {
  text-decoration: none;
  color: inherit;
}

.contact-nav {
  margin: 1.5em 2em;
  padding: 5px 20px;
  align-items: center;
  justify-content: center;
  background: rgba(117, 211, 111, 1);
  border: none;
  color: white;
  font-family: inherit;
  border-radius: 30px;
  text-decoration: none;
}

.contact-nav:hover {
  background: rgba(117, 211, 111, 0.6);
  transition: all 0.2s ease-in-out;
}

.container {
  margin: 30px 30px;
  text-align: center
}

.title {
  padding: 10px 10px
}

.form {
  margin: 1em 1em;
}

.form form{
  padding: 25px 25px;
  height: 50px;
}

.form input {
  padding: 10px 20px;
  width: 300px;
  border-radius: 30px;
  border: 1px solid #545B6C
}

.form input:focus {
  outline: none
}

.form button {
  background: #545B6C;
  color: white;
  height: 30px;
  width: 80px;
  border-radius: 20px;
  margin: 10px 15px;
  border-style: none;
  cursor: pointer;
}

.form button:hover {
  background: #393d47;
  transition: all 0.2s ease-in-out;
}

.form button:focus {
  outline: none;
}

.url-show {
  margin: 3em 3em;
  line-height: 1.6em
}

.url-show a {
  color: blue;
  text-decoration: none
}

.message {
  display: flex;
  align-items: center;
  height: 3em;
  margin: 5px 1em;
  background: rgba(250, 2, 2, 0.5);
  border-radius: 5px;
  color: black;
  transition: 0.3s ease-in
}

.message h4 {
  padding: 10px
}

.footer {
  height: 6em;
  width: 100%;
  background: #6c7896;
  color: white;
  position: fixed;
  bottom: 0;
  text-align: center;
}

.footer p{
  font-size: 15px;
  padding-top: 5px;
}

.sub-footer {
  height: 4em;
  width: 100%;
  background: #545B6C;
  position: fixed;
  bottom: 0
}

.footer a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
